<html>
<div ng-hide="currentUser==''">
	<div class="generic-container" ng-controller="EventController as ctrl">
		<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
			<div class="container">


				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="event_id">EVENT
							ID</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.event.event_id" id="event_id"
								class="eventid form-control input-sm" placeholder="Enter EVENT ID"
								required ng-minlength="3" />
						</div>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="btitle">Event Title</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.event.title" id="title"
								class="eventname form-control input-sm"
								placeholder="Enter event title" required ng-minlength="3" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="edescription">Description</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.event.description"
								id="description" class="eventname form-control input-sm"
								placeholder="Write description for your event" required ng-minlength="5" />
						</div>
					</div>
				</div>


				
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="reason">Reason of creation of event</label>
						<div class="col-md-7">
							<input type="text" width="100" height="50"
								ng-model="ctrl.event.reason" id="reason"
								class="form-control input-sm" placeholder="Please mention the reason for creation of event" />
						</div>
					</div>
				</div>
				<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Submit"
									class="btn btn-primary btn-sm" >
								<button type="button" ng-click="ctrl.reset()"
									class="btn btn-warning btn-sm">Reset Form</button>
							</div>
						</div>
				
		</form>
	</div>
</div>
</html>